In [2]:
import pandas as pd

df = {
    "Name": ["Cold Brew", "Espresso", "Latte"],
    "Price": [5,3,4],
    "Rating": [0.9, 1, 0.4]
}

df_pd = pd.DataFrame(df)
display(df_pd)

        Name  Price  Rating
0  Cold Brew      5     0.9
1   Espresso      3     1.0

In [4]:
display(df_pd[df_pd.Rating > 0.5])

        Name  Price  Rating
0  Cold Brew      5     0.9
1   Espresso      3     1.0